<?xml version="1.0" encoding="UTF-8"?>
<phpunit>
    <testsuites>
        <testsuite name="Keros Tests">
            <directory>.</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-html" target="/logs/report" lowUpperBound="35"
       highLowerBound="70"/>
        <log type="coverage-clover" target="./logs/coverage.xml"/>
        <log type="coverage-php" target="/logs/coverage.serialized"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
        <log type="junit" target="./logs/logfile.xml" logIncompleteSkipped="false"/>
        <log type="testdox-html" target="/logs/testdox.html"/>
        <log type="testdox-text" target="/logs/testdox.txt"/>
    </logging>
    <php>
        <env name="ENV" value="test"/>
    </php>
</phpunit>